/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

h1 {
    margin-top: 20px;
    font-size: 36px;
}

h2 {
    font-style: italic;
    color: #555;
}

form {
    margin-bottom: 20px;
}

/* Navigation Bar */
nav {
    background-color: #333;
    overflow: hidden;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    flex-grow: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

/* Table Styles */
#cartList {
    margin: 0 auto;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

td {
    font-size: 16px;
    text-align: center; 
    vertical-align: middle; 
    padding: 10px; 
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Buttons */
button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-controls form {
    display: inline;
}

.qty-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.qty-icon {
    width: 15px; 
    height: 15px; 
}

.qty-value {
    margin: 0 10px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    min-width: 20px;
}

.checkout-btn-container {
    text-align: right;
    margin-top: 20px;
}

.checkout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white; 
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.checkout-btn:hover {
    background-color: #45a049; 
}
